[submodule "sw/ext/ms"]
	path = sw/ext/ms
	url = https://github.com/machdyne/ms
[submodule "sw/ext/te"]
	path = sw/ext/te
	url = https://github.com/machdyne/te.git
[submodule "sw/ext/basic"]
	path = sw/ext/basic
	url = https://github.com/machdyne/basic
