BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF  PORT "CLK_48" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48 MHZ;

# RMII reference clock, shared with the LAN8720A PHY's XTAL/REF_CLK
# input (see rtl/ethmac_rmii.v). Independent of CLK_48 -- the system
# clock and the RMII reference clock are different domains.
LOCATE COMP "ETH_REFCLK" SITE "C7";
IOBUF PORT "ETH_REFCLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "ETH_REFCLK" 50 MHZ;

LOCATE COMP "LED_B" SITE "P1";
IOBUF PORT "LED_B" IO_TYPE=LVCMOS33;

LOCATE COMP "CSPI_SS_FLASH" SITE "N8";
IOBUF PORT "CSPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "CSPI_MISO" SITE "T7";
IOBUF PORT "CSPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "CSPI_MOSI" SITE "T8";
IOBUF PORT "CSPI_MOSI" IO_TYPE=LVCMOS33;

LOCATE COMP "AUD_DIN" SITE "R12";
IOBUF PORT "AUD_DIN" IO_TYPE=LVCMOS33;
LOCATE COMP "AUD_WS" SITE "T14";
IOBUF PORT "AUD_WS" IO_TYPE=LVCMOS33;
LOCATE COMP "AUD_BCK" SITE "T13";
IOBUF PORT "AUD_BCK" IO_TYPE=LVCMOS33;

# UART Debug
LOCATE COMP "UART0_TX" SITE "B3";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_RX" SITE "A2";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;

# SD Card SPI (dedicated SD card pins)
LOCATE COMP "SD_SCK" SITE "L3";
IOBUF PORT "SD_SCK" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_MOSI" SITE "M1";   # MOSI
IOBUF PORT "SD_MOSI" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_SS" SITE "L2";
IOBUF PORT "SD_SS" IO_TYPE=LVCMOS33;
LOCATE COMP "SD_MISO" SITE "L1";  # MISO
IOBUF PORT "SD_MISO" IO_TYPE=LVCMOS33;

# RMII Ethernet (LAN8720A PHY, no MDIO/MDC -- PHY mode/address is set
# by the strap pull-ups below, sampled when ETH_RST_N is released)
LOCATE COMP "ETH_RXD[0]" SITE "E4";
IOBUF PORT "ETH_RXD[0]" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "ETH_RXD[1]" SITE "D4";
IOBUF PORT "ETH_RXD[1]" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "ETH_TXD[0]" SITE "E6";
IOBUF PORT "ETH_TXD[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ETH_TXD[1]" SITE "D6";
IOBUF PORT "ETH_TXD[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ETH_TX_EN" SITE "C5";
IOBUF PORT "ETH_TX_EN" IO_TYPE=LVCMOS33;
LOCATE COMP "ETH_CRS_DV" SITE "A5";
IOBUF PORT "ETH_CRS_DV" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "ETH_RST_N" SITE "B5";
IOBUF PORT "ETH_RST_N" IO_TYPE=LVCMOS33;

# USB Host
LOCATE COMP "usb_host_dp[0]" SITE "A9";
IOBUF PORT "usb_host_dp[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dp[1]" SITE "C8";
IOBUF PORT "usb_host_dp[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[0]" SITE "A10";
IOBUF PORT "usb_host_dm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[1]" SITE "B8";
IOBUF PORT "usb_host_dm[1]" IO_TYPE=LVCMOS33;

# SDRAM
LOCATE COMP "sdram_clock" SITE "F16";
IOBUF PORT "sdram_clock" IO_TYPE=LVTTL33;
LOCATE COMP "serial_tx" SITE "B4";
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_rx" SITE "C4";
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_a[0]" SITE "M13";
IOBUF PORT "sdram_a[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[1]" SITE "M14";
IOBUF PORT "sdram_a[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[2]" SITE "L14";
IOBUF PORT "sdram_a[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[3]" SITE "L13";
IOBUF PORT "sdram_a[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[4]" SITE "G12";
IOBUF PORT "sdram_a[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[5]" SITE "G13";
IOBUF PORT "sdram_a[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[6]" SITE "G14";
IOBUF PORT "sdram_a[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[7]" SITE "G15";
IOBUF PORT "sdram_a[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[8]" SITE "F12";
IOBUF PORT "sdram_a[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[9]" SITE "F13";
IOBUF PORT "sdram_a[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[10]" SITE "T15";
IOBUF PORT "sdram_a[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[11]" SITE "F14";
IOBUF PORT "sdram_a[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_a[12]" SITE "E14";
IOBUF PORT "sdram_a[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[0]" SITE "P14";
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ba[1]" SITE "N13";
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cs_n" SITE "J16";
IOBUF PORT "sdram_cs_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cke" SITE "F15";
IOBUF PORT "sdram_cke" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_ras_n" SITE "K15";
IOBUF PORT "sdram_ras_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_cas_n" SITE "K16";
IOBUF PORT "sdram_cas_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_we_n" SITE "L15";
IOBUF PORT "sdram_we_n" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[0]" SITE "R15";
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[1]" SITE "R16";
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[2]" SITE "P16";
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[3]" SITE "P15";
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[4]" SITE "N16";
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[5]" SITE "N14";
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[6]" SITE "M16";
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[7]" SITE "M15";
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[8]" SITE "E15";
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[9]" SITE "D16";
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[10]" SITE "D14";
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[11]" SITE "C16";
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[12]" SITE "C15";
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[13]" SITE "C14";
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[14]" SITE "B15";
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dq[15]" SITE "B16";
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[0]" SITE "L16";
IOBUF PORT "sdram_dm[0]" IO_TYPE=LVTTL33;
LOCATE COMP "sdram_dm[1]" SITE "E16";
IOBUF PORT "sdram_dm[1]" IO_TYPE=LVTTL33;

# DDMI
LOCATE COMP "DDMI_CK_P" SITE "B13";
IOBUF PORT "DDMI_CK_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_CK_P" DRIVE=4;
LOCATE COMP "DDMI_D0_P" SITE "A11";
IOBUF PORT "DDMI_D0_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D0_P" DRIVE=4;
LOCATE COMP "DDMI_D1_P" SITE "B12";
IOBUF PORT "DDMI_D1_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D1_P" DRIVE=4;
LOCATE COMP "DDMI_D2_P" SITE "B10";
IOBUF PORT "DDMI_D2_P" IO_TYPE=LVCMOS33D;
IOBUF PORT "DDMI_D2_P" DRIVE=4;
