BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

# USB HOST
LOCATE COMP "usb_host_dp[0]" SITE "B1";
IOBUF PORT "usb_host_dp[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[0]" SITE "B2";
IOBUF PORT "usb_host_dm[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "usb_host_dp[1]" SITE "C1";
IOBUF PORT "usb_host_dp[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "usb_host_dm[1]" SITE "C2";
IOBUF PORT "usb_host_dm[1]" IO_TYPE=LVCMOS33;

# PMOD A (USB-UART)
LOCATE COMP "UART0_RTS" SITE "E5";
IOBUF PORT "UART0_RTS" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_TX" SITE "D4";
IOBUF PORT "UART0_TX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_RX" SITE "B5";
IOBUF PORT "UART0_RX" IO_TYPE=LVCMOS33;
LOCATE COMP "UART0_CTS" SITE "C6";
IOBUF PORT "UART0_CTS" IO_TYPE=LVCMOS33;

# PMOD B (QQSPI)
LOCATE COMP "QQSPI_SS" SITE "C8";
IOBUF PORT "QQSPI_SS" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_MOSI" SITE "B9";
IOBUF PORT "QQSPI_MOSI" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_MISO" SITE "A10";
IOBUF PORT "QQSPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SCK" SITE "C10";
IOBUF PORT "QQSPI_SCK" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SIO2" SITE "B8";
IOBUF PORT "QQSPI_SIO2" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_SIO3" SITE "A9";
IOBUF PORT "QQSPI_SIO3" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_CS1" SITE "B10";
IOBUF PORT "QQSPI_CS1" IO_TYPE=LVCMOS33;
LOCATE COMP "QQSPI_CS0" SITE "D10";
IOBUF PORT "QQSPI_CS0" IO_TYPE=LVCMOS33;

# PMOD B (LEDs)
LOCATE COMP "DBG[0]" SITE "C8";
IOBUF PORT "DBG[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[1]" SITE "B9";
IOBUF PORT "DBG[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[2]" SITE "A10";
IOBUF PORT "DBG[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[3]" SITE "C10";
IOBUF PORT "DBG[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[4]" SITE "B8";
IOBUF PORT "DBG[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[5]" SITE "A9";
IOBUF PORT "DBG[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[6]" SITE "B10";
IOBUF PORT "DBG[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "DBG[7]" SITE "D10";
IOBUF PORT "DBG[7]" IO_TYPE=LVCMOS33;

# RGB LED
LOCATE COMP "LED_R" SITE "B11";
IOBUF PORT "LED_R" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_G" SITE "A11" ;
IOBUF PORT "LED_G" IO_TYPE=LVCMOS33;
LOCATE COMP "LED_B" SITE "C12";
IOBUF PORT "LED_B" IO_TYPE=LVCMOS33;

# MMOD
LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

# MICROSD
LOCATE COMP "SD_SS" SITE "A2";
IOBUF PORT "SD_SS" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_SS" SLEWRATE=FAST;
LOCATE COMP "SD_MOSI" SITE "B3";
IOBUF PORT "SD_MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_MOSI" SLEWRATE=FAST;
LOCATE COMP "SD_MISO" SITE "B4";
IOBUF PORT "SD_MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_MISO" SLEWRATE=FAST;
IOBUF PORT "SD_MISO" PULLMODE=NONE;
#IOBUF PORT "SD_MISO" PULLMODE=UP;
LOCATE COMP "SD_SCK" SITE "A3";
IOBUF PORT "SD_SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "SD_SCK" SLEWRATE=FAST;

# VGA
LOCATE COMP "VGA_R" SITE "M6";
IOBUF PORT "VGA_R" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_G" SITE "T4";
IOBUF PORT "VGA_G" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_B" SITE "N3";
IOBUF PORT "VGA_B" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_VS" SITE "N1";
IOBUF PORT "VGA_VS" IO_TYPE=LVCMOS33;
LOCATE COMP "VGA_HS" SITE "P2";
IOBUF PORT "VGA_HS" IO_TYPE=LVCMOS33;

# PS/2
LOCATE COMP "PS2_DAT" SITE "L1";
IOBUF PORT "PS2_DAT" IO_TYPE=LVCMOS33;
LOCATE COMP "PS2_CLK" SITE "L2";
IOBUF PORT "PS2_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "PS2B_DAT" SITE "L3";
IOBUF PORT "PS2B_DAT" IO_TYPE=LVCMOS33;
LOCATE COMP "PS2B_CLK" SITE "L4";
IOBUF PORT "PS2B_CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM_A[0]" SITE "J14";
IOBUF PORT "SRAM_A[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[1]" SITE "J13";
IOBUF PORT "SRAM_A[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[2]" SITE "J12";
IOBUF PORT "SRAM_A[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[3]" SITE "G14";
IOBUF PORT "SRAM_A[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[4]" SITE "G13";
IOBUF PORT "SRAM_A[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[5]" SITE "N13";
IOBUF PORT "SRAM_A[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[6]" SITE "P14";
IOBUF PORT "SRAM_A[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[7]" SITE "P13";
IOBUF PORT "SRAM_A[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[8]" SITE "P12";
IOBUF PORT "SRAM_A[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[9]" SITE "N12";
IOBUF PORT "SRAM_A[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[10]" SITE "B12";
IOBUF PORT "SRAM_A[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[11]" SITE "A12";
IOBUF PORT "SRAM_A[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[12]" SITE "A13";
IOBUF PORT "SRAM_A[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[13]" SITE "B13";
IOBUF PORT "SRAM_A[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[14]" SITE "C13";
IOBUF PORT "SRAM_A[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[15]" SITE "A15";
IOBUF PORT "SRAM_A[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[16]" SITE "B14";
IOBUF PORT "SRAM_A[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[17]" SITE "A14";
IOBUF PORT "SRAM_A[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_A[18]" SITE "D13";
IOBUF PORT "SRAM_A[18]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM_D[0]" SITE "F12";
IOBUF PORT "SRAM_D[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[1]" SITE "E14";
IOBUF PORT "SRAM_D[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[2]" SITE "K15";
IOBUF PORT "SRAM_D[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[3]" SITE "K16";
IOBUF PORT "SRAM_D[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[4]" SITE "J15";
IOBUF PORT "SRAM_D[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[5]" SITE "J16";
IOBUF PORT "SRAM_D[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[6]" SITE "H14";
IOBUF PORT "SRAM_D[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[7]" SITE "H15";
IOBUF PORT "SRAM_D[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[8]" SITE "G15";
IOBUF PORT "SRAM_D[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[9]" SITE "F16";
IOBUF PORT "SRAM_D[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[10]" SITE "F15";
IOBUF PORT "SRAM_D[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[11]" SITE "E16";
IOBUF PORT "SRAM_D[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[12]" SITE "E15";
IOBUF PORT "SRAM_D[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[13]" SITE "D16";
IOBUF PORT "SRAM_D[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[14]" SITE "C14";
IOBUF PORT "SRAM_D[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[15]" SITE "C16";
IOBUF PORT "SRAM_D[15]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM0_CE" SITE "G12";
IOBUF PORT "SRAM0_CE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_OE" SITE "B15";
IOBUF PORT "SRAM0_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_WE" SITE "G16";
IOBUF PORT "SRAM0_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_LB" SITE "C15";
IOBUF PORT "SRAM0_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM0_UB" SITE "B16";
IOBUF PORT "SRAM0_UB" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM_D[16]" SITE "L13";
IOBUF PORT "SRAM_D[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[17]" SITE "L14";
IOBUF PORT "SRAM_D[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[18]" SITE "M13";
IOBUF PORT "SRAM_D[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[19]" SITE "P11";
IOBUF PORT "SRAM_D[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[20]" SITE "R12";
IOBUF PORT "SRAM_D[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[21]" SITE "T13";
IOBUF PORT "SRAM_D[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[22]" SITE "R13";
IOBUF PORT "SRAM_D[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[23]" SITE "T14";
IOBUF PORT "SRAM_D[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[24]" SITE "T15";
IOBUF PORT "SRAM_D[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[25]" SITE "R15";
IOBUF PORT "SRAM_D[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[26]" SITE "R16";
IOBUF PORT "SRAM_D[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[27]" SITE "P15";
IOBUF PORT "SRAM_D[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[28]" SITE "P16";
IOBUF PORT "SRAM_D[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[29]" SITE "N14";
IOBUF PORT "SRAM_D[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[30]" SITE "N16";
IOBUF PORT "SRAM_D[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM_D[31]" SITE "L16";
IOBUF PORT "SRAM_D[31]" IO_TYPE=LVCMOS33;

LOCATE COMP "SRAM1_CE" SITE "L12";
IOBUF PORT "SRAM1_CE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_OE" SITE "M15";
IOBUF PORT "SRAM1_OE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_WE" SITE "R14";
IOBUF PORT "SRAM1_WE" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_LB" SITE "L15";
IOBUF PORT "SRAM1_LB" IO_TYPE=LVCMOS33;
LOCATE COMP "SRAM1_UB" SITE "M16";
IOBUF PORT "SRAM1_UB" IO_TYPE=LVCMOS33;
