LOCATE COMP "a[0]" SITE "A10";
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[1]" SITE "A11";
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[2]" SITE "A12";
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[3]" SITE "A13";
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[4]" SITE "A14";
IOBUF PORT "a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[5]" SITE "A15";
IOBUF PORT "a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[6]" SITE "A2";
IOBUF PORT "a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[7]" SITE "A3";
IOBUF PORT "a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "A4";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "A5";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[2]" SITE "A6";
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[3]" SITE "A7";
IOBUF PORT "b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[4]" SITE "A8";
IOBUF PORT "b[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[5]" SITE "A9";
IOBUF PORT "b[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[6]" SITE "B1";
IOBUF PORT "b[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[7]" SITE "B10";
IOBUF PORT "b[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "lt" SITE "B11";
IOBUF PORT "lt" IO_TYPE=LVCMOS33;
LOCATE COMP "ge2" SITE "B12";
IOBUF PORT "ge2" IO_TYPE=LVCMOS33;
