LOCATE COMP "a[0]" SITE "F12";
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[1]" SITE "E1";
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[2]" SITE "D7";
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[3]" SITE "D1";
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[4]" SITE "G13";
IOBUF PORT "a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[5]" SITE "C8";
IOBUF PORT "a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[6]" SITE "M8";
IOBUF PORT "a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[7]" SITE "D8";
IOBUF PORT "a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "F4";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "F2";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[2]" SITE "E8";
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[3]" SITE "E7";
IOBUF PORT "b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[4]" SITE "F15";
IOBUF PORT "b[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[5]" SITE "G12";
IOBUF PORT "b[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[6]" SITE "M9";
IOBUF PORT "b[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[7]" SITE "A7";
IOBUF PORT "b[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "clk" SITE "A8";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "y[0]" SITE "B8";
IOBUF PORT "y[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[1]" SITE "E16";
IOBUF PORT "y[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[2]" SITE "B7";
IOBUF PORT "y[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[3]" SITE "C7";
IOBUF PORT "y[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[4]" SITE "F13";
IOBUF PORT "y[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[5]" SITE "E2";
IOBUF PORT "y[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[6]" SITE "G5";
IOBUF PORT "y[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "y[7]" SITE "D16";
IOBUF PORT "y[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "z" SITE "G14";
IOBUF PORT "z" IO_TYPE=LVCMOS33;
