LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst_n" SITE "A11";
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "en" SITE "A12";
IOBUF PORT "en" IO_TYPE=LVCMOS33;
LOCATE COMP "a[0]" SITE "A13";
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[1]" SITE "A14";
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[2]" SITE "A15";
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[3]" SITE "A2";
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "A3";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "A4";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[2]" SITE "A5";
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[3]" SITE "A6";
IOBUF PORT "b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sel[0]" SITE "A7";
IOBUF PORT "sel[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sel[1]" SITE "A8";
IOBUF PORT "sel[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ci" SITE "A9";
IOBUF PORT "ci" IO_TYPE=LVCMOS33;
LOCATE COMP "q[0]" SITE "B1";
IOBUF PORT "q[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "q[1]" SITE "B10";
IOBUF PORT "q[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "q[2]" SITE "B11";
IOBUF PORT "q[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "q[3]" SITE "B12";
IOBUF PORT "q[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[0]" SITE "B13";
IOBUF PORT "sum[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[1]" SITE "B14";
IOBUF PORT "sum[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[2]" SITE "B15";
IOBUF PORT "sum[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[3]" SITE "B16";
IOBUF PORT "sum[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[4]" SITE "B2";
IOBUF PORT "sum[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "lt" SITE "B3";
IOBUF PORT "lt" IO_TYPE=LVCMOS33;
LOCATE COMP "ge" SITE "B4";
IOBUF PORT "ge" IO_TYPE=LVCMOS33;
LOCATE COMP "eqz" SITE "B5";
IOBUF PORT "eqz" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[0]" SITE "B6";
IOBUF PORT "mx[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[1]" SITE "B7";
IOBUF PORT "mx[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[2]" SITE "B8";
IOBUF PORT "mx[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[3]" SITE "B9";
IOBUF PORT "mx[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sh[0]" SITE "C1";
IOBUF PORT "sh[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sh[1]" SITE "C10";
IOBUF PORT "sh[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sh[2]" SITE "C11";
IOBUF PORT "sh[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sh[3]" SITE "C12";
IOBUF PORT "sh[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "par" SITE "C13";
IOBUF PORT "par" IO_TYPE=LVCMOS33;
LOCATE COMP "bit_sel" SITE "C14";
IOBUF PORT "bit_sel" IO_TYPE=LVCMOS33;
LOCATE COMP "st[0]" SITE "C15";
IOBUF PORT "st[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "st[1]" SITE "C16";
IOBUF PORT "st[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "st[2]" SITE "C2";
IOBUF PORT "st[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "cnt_o[0]" SITE "C3";
IOBUF PORT "cnt_o[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "cnt_o[1]" SITE "C4";
IOBUF PORT "cnt_o[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "cnt_o[2]" SITE "C5";
IOBUF PORT "cnt_o[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "cnt_o[3]" SITE "C6";
IOBUF PORT "cnt_o[3]" IO_TYPE=LVCMOS33;
