LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "A11";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "d[0]" SITE "A12";
IOBUF PORT "d[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[1]" SITE "A13";
IOBUF PORT "d[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[2]" SITE "A14";
IOBUF PORT "d[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[3]" SITE "A15";
IOBUF PORT "d[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[4]" SITE "A2";
IOBUF PORT "d[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[5]" SITE "A3";
IOBUF PORT "d[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[6]" SITE "A4";
IOBUF PORT "d[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[7]" SITE "A5";
IOBUF PORT "d[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "valid" SITE "A6";
IOBUF PORT "valid" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[0]" SITE "A7";
IOBUF PORT "crc[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[1]" SITE "A8";
IOBUF PORT "crc[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[2]" SITE "A9";
IOBUF PORT "crc[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[3]" SITE "B1";
IOBUF PORT "crc[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[4]" SITE "B10";
IOBUF PORT "crc[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[5]" SITE "B11";
IOBUF PORT "crc[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[6]" SITE "B12";
IOBUF PORT "crc[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[7]" SITE "B13";
IOBUF PORT "crc[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[8]" SITE "B14";
IOBUF PORT "crc[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[9]" SITE "B15";
IOBUF PORT "crc[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[10]" SITE "B16";
IOBUF PORT "crc[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[11]" SITE "B2";
IOBUF PORT "crc[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[12]" SITE "B3";
IOBUF PORT "crc[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[13]" SITE "B4";
IOBUF PORT "crc[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[14]" SITE "B5";
IOBUF PORT "crc[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "crc[15]" SITE "B6";
IOBUF PORT "crc[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[0]" SITE "B7";
IOBUF PORT "peek[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[1]" SITE "B8";
IOBUF PORT "peek[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[2]" SITE "B9";
IOBUF PORT "peek[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[3]" SITE "C1";
IOBUF PORT "peek[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[4]" SITE "C10";
IOBUF PORT "peek[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[5]" SITE "C11";
IOBUF PORT "peek[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[6]" SITE "C12";
IOBUF PORT "peek[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[7]" SITE "C13";
IOBUF PORT "peek[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[8]" SITE "C14";
IOBUF PORT "peek[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[9]" SITE "C15";
IOBUF PORT "peek[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[10]" SITE "C16";
IOBUF PORT "peek[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[11]" SITE "C2";
IOBUF PORT "peek[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[12]" SITE "C3";
IOBUF PORT "peek[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[13]" SITE "C4";
IOBUF PORT "peek[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[14]" SITE "C5";
IOBUF PORT "peek[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "peek[15]" SITE "C6";
IOBUF PORT "peek[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "m[0]" SITE "C7";
IOBUF PORT "m[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "m[1]" SITE "C8";
IOBUF PORT "m[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "m[2]" SITE "C9";
IOBUF PORT "m[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "m[3]" SITE "D1";
IOBUF PORT "m[3]" IO_TYPE=LVCMOS33;
