LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "A11";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "en" SITE "A12";
IOBUF PORT "en" IO_TYPE=LVCMOS33;
LOCATE COMP "a[0]" SITE "A13";
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[1]" SITE "A14";
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[2]" SITE "A15";
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[3]" SITE "A2";
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "A3";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "A4";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[2]" SITE "A5";
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[3]" SITE "A6";
IOBUF PORT "b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[0]" SITE "A7";
IOBUF PORT "mx[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[1]" SITE "A8";
IOBUF PORT "mx[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[2]" SITE "A9";
IOBUF PORT "mx[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "mx[3]" SITE "B1";
IOBUF PORT "mx[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo[0]" SITE "B10";
IOBUF PORT "lo[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo[1]" SITE "B11";
IOBUF PORT "lo[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo[2]" SITE "B12";
IOBUF PORT "lo[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "hw" SITE "B13";
IOBUF PORT "hw" IO_TYPE=LVCMOS33;
LOCATE COMP "sz[0]" SITE "B14";
IOBUF PORT "sz[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sz[1]" SITE "B15";
IOBUF PORT "sz[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sz[2]" SITE "B16";
IOBUF PORT "sz[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sz[3]" SITE "B2";
IOBUF PORT "sz[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sz[4]" SITE "B3";
IOBUF PORT "sz[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[0]" SITE "B4";
IOBUF PORT "wide[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[1]" SITE "B5";
IOBUF PORT "wide[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[2]" SITE "B6";
IOBUF PORT "wide[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[3]" SITE "B7";
IOBUF PORT "wide[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[4]" SITE "B8";
IOBUF PORT "wide[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[5]" SITE "B9";
IOBUF PORT "wide[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[6]" SITE "C1";
IOBUF PORT "wide[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[7]" SITE "C10";
IOBUF PORT "wide[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[8]" SITE "C11";
IOBUF PORT "wide[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[9]" SITE "C12";
IOBUF PORT "wide[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[10]" SITE "C13";
IOBUF PORT "wide[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "wide[11]" SITE "C14";
IOBUF PORT "wide[11]" IO_TYPE=LVCMOS33;
