LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "A11";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "d[0]" SITE "A12";
IOBUF PORT "d[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[1]" SITE "A13";
IOBUF PORT "d[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[2]" SITE "A14";
IOBUF PORT "d[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[3]" SITE "A15";
IOBUF PORT "d[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[4]" SITE "A2";
IOBUF PORT "d[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[5]" SITE "A3";
IOBUF PORT "d[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[6]" SITE "A4";
IOBUF PORT "d[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[7]" SITE "A5";
IOBUF PORT "d[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sel[0]" SITE "A6";
IOBUF PORT "sel[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sel[1]" SITE "A7";
IOBUF PORT "sel[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sel[2]" SITE "A8";
IOBUF PORT "sel[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "we" SITE "A9";
IOBUF PORT "we" IO_TYPE=LVCMOS33;
LOCATE COMP "ones[0]" SITE "B1";
IOBUF PORT "ones[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ones[1]" SITE "B10";
IOBUF PORT "ones[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ones[2]" SITE "B11";
IOBUF PORT "ones[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ones[3]" SITE "B12";
IOBUF PORT "ones[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[0]" SITE "B13";
IOBUF PORT "rev[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[1]" SITE "B14";
IOBUF PORT "rev[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[2]" SITE "B15";
IOBUF PORT "rev[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[3]" SITE "B16";
IOBUF PORT "rev[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[4]" SITE "B2";
IOBUF PORT "rev[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[5]" SITE "B3";
IOBUF PORT "rev[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[6]" SITE "B4";
IOBUF PORT "rev[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "rev[7]" SITE "B5";
IOBUF PORT "rev[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[0]" SITE "B6";
IOBUF PORT "sr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[1]" SITE "B7";
IOBUF PORT "sr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[2]" SITE "B8";
IOBUF PORT "sr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[3]" SITE "B9";
IOBUF PORT "sr[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[4]" SITE "C1";
IOBUF PORT "sr[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[5]" SITE "C10";
IOBUF PORT "sr[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[6]" SITE "C11";
IOBUF PORT "sr[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sr[7]" SITE "C12";
IOBUF PORT "sr[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[0]" SITE "C13";
IOBUF PORT "rd[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[1]" SITE "C14";
IOBUF PORT "rd[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[2]" SITE "C15";
IOBUF PORT "rd[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[3]" SITE "C16";
IOBUF PORT "rd[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[4]" SITE "C2";
IOBUF PORT "rd[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[5]" SITE "C3";
IOBUF PORT "rd[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[6]" SITE "C4";
IOBUF PORT "rd[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd[7]" SITE "C5";
IOBUF PORT "rd[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[0]" SITE "C6";
IOBUF PORT "tri_sum[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[1]" SITE "C7";
IOBUF PORT "tri_sum[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[2]" SITE "C8";
IOBUF PORT "tri_sum[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[3]" SITE "C9";
IOBUF PORT "tri_sum[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[4]" SITE "D1";
IOBUF PORT "tri_sum[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "tri_sum[5]" SITE "D10";
IOBUF PORT "tri_sum[5]" IO_TYPE=LVCMOS33;
