LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "A11";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "we" SITE "A12";
IOBUF PORT "we" IO_TYPE=LVCMOS33;
LOCATE COMP "wa[0]" SITE "A13";
IOBUF PORT "wa[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "wa[1]" SITE "A14";
IOBUF PORT "wa[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "wa[2]" SITE "A15";
IOBUF PORT "wa[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[0]" SITE "A2";
IOBUF PORT "wd[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[1]" SITE "A3";
IOBUF PORT "wd[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[2]" SITE "A4";
IOBUF PORT "wd[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[3]" SITE "A5";
IOBUF PORT "wd[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[4]" SITE "A6";
IOBUF PORT "wd[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[5]" SITE "A7";
IOBUF PORT "wd[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[6]" SITE "A8";
IOBUF PORT "wd[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "wd[7]" SITE "A9";
IOBUF PORT "wd[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra0[0]" SITE "B1";
IOBUF PORT "ra0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra0[1]" SITE "B10";
IOBUF PORT "ra0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra0[2]" SITE "B11";
IOBUF PORT "ra0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra1[0]" SITE "B12";
IOBUF PORT "ra1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra1[1]" SITE "B13";
IOBUF PORT "ra1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "ra1[2]" SITE "B14";
IOBUF PORT "ra1[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[0]" SITE "B15";
IOBUF PORT "rd0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[1]" SITE "B16";
IOBUF PORT "rd0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[2]" SITE "B2";
IOBUF PORT "rd0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[3]" SITE "B3";
IOBUF PORT "rd0[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[4]" SITE "B4";
IOBUF PORT "rd0[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[5]" SITE "B5";
IOBUF PORT "rd0[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[6]" SITE "B6";
IOBUF PORT "rd0[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd0[7]" SITE "B7";
IOBUF PORT "rd0[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[0]" SITE "B8";
IOBUF PORT "rd1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[1]" SITE "B9";
IOBUF PORT "rd1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[2]" SITE "C1";
IOBUF PORT "rd1[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[3]" SITE "C10";
IOBUF PORT "rd1[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[4]" SITE "C11";
IOBUF PORT "rd1[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[5]" SITE "C12";
IOBUF PORT "rd1[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[6]" SITE "C13";
IOBUF PORT "rd1[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "rd1[7]" SITE "C14";
IOBUF PORT "rd1[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "push" SITE "C15";
IOBUF PORT "push" IO_TYPE=LVCMOS33;
LOCATE COMP "pop" SITE "C16";
IOBUF PORT "pop" IO_TYPE=LVCMOS33;
LOCATE COMP "din[0]" SITE "C2";
IOBUF PORT "din[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "din[1]" SITE "C3";
IOBUF PORT "din[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "din[2]" SITE "C4";
IOBUF PORT "din[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "din[3]" SITE "C5";
IOBUF PORT "din[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "dout[0]" SITE "C6";
IOBUF PORT "dout[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "dout[1]" SITE "C7";
IOBUF PORT "dout[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "dout[2]" SITE "C8";
IOBUF PORT "dout[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "dout[3]" SITE "C9";
IOBUF PORT "dout[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "empty" SITE "D1";
IOBUF PORT "empty" IO_TYPE=LVCMOS33;
LOCATE COMP "full" SITE "D10";
IOBUF PORT "full" IO_TYPE=LVCMOS33;
