LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "w[0]" SITE "A11";
IOBUF PORT "w[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[1]" SITE "A12";
IOBUF PORT "w[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[2]" SITE "A13";
IOBUF PORT "w[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[3]" SITE "A14";
IOBUF PORT "w[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[4]" SITE "A15";
IOBUF PORT "w[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[5]" SITE "A2";
IOBUF PORT "w[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[6]" SITE "A3";
IOBUF PORT "w[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[7]" SITE "A4";
IOBUF PORT "w[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[8]" SITE "A5";
IOBUF PORT "w[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[9]" SITE "A6";
IOBUF PORT "w[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[10]" SITE "A7";
IOBUF PORT "w[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[11]" SITE "A8";
IOBUF PORT "w[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[12]" SITE "A9";
IOBUF PORT "w[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[13]" SITE "B1";
IOBUF PORT "w[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[14]" SITE "B10";
IOBUF PORT "w[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[15]" SITE "B11";
IOBUF PORT "w[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[16]" SITE "B12";
IOBUF PORT "w[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[17]" SITE "B13";
IOBUF PORT "w[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[18]" SITE "B14";
IOBUF PORT "w[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[19]" SITE "B15";
IOBUF PORT "w[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[20]" SITE "B16";
IOBUF PORT "w[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[21]" SITE "B2";
IOBUF PORT "w[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[22]" SITE "B3";
IOBUF PORT "w[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[23]" SITE "B4";
IOBUF PORT "w[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[24]" SITE "B5";
IOBUF PORT "w[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[25]" SITE "B6";
IOBUF PORT "w[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[26]" SITE "B7";
IOBUF PORT "w[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[27]" SITE "B8";
IOBUF PORT "w[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[28]" SITE "B9";
IOBUF PORT "w[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[29]" SITE "C1";
IOBUF PORT "w[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[30]" SITE "C10";
IOBUF PORT "w[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "w[31]" SITE "C11";
IOBUF PORT "w[31]" IO_TYPE=LVCMOS33;
LOCATE COMP "s[0]" SITE "C12";
IOBUF PORT "s[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "s[1]" SITE "C13";
IOBUF PORT "s[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "s[2]" SITE "C14";
IOBUF PORT "s[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "s[3]" SITE "C15";
IOBUF PORT "s[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "s[4]" SITE "C16";
IOBUF PORT "s[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "C2";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "C3";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[0]" SITE "C4";
IOBUF PORT "d[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[1]" SITE "C5";
IOBUF PORT "d[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[2]" SITE "C6";
IOBUF PORT "d[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[3]" SITE "C7";
IOBUF PORT "d[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[4]" SITE "C8";
IOBUF PORT "d[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[5]" SITE "C9";
IOBUF PORT "d[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[6]" SITE "D1";
IOBUF PORT "d[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "d[7]" SITE "D10";
IOBUF PORT "d[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[0]" SITE "D11";
IOBUF PORT "byte_c[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[1]" SITE "D12";
IOBUF PORT "byte_c[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[2]" SITE "D13";
IOBUF PORT "byte_c[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[3]" SITE "D14";
IOBUF PORT "byte_c[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[4]" SITE "D16";
IOBUF PORT "byte_c[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[5]" SITE "D3";
IOBUF PORT "byte_c[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[6]" SITE "D4";
IOBUF PORT "byte_c[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_c[7]" SITE "D5";
IOBUF PORT "byte_c[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[0]" SITE "D6";
IOBUF PORT "byte_v[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[1]" SITE "D7";
IOBUF PORT "byte_v[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[2]" SITE "D8";
IOBUF PORT "byte_v[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[3]" SITE "D9";
IOBUF PORT "byte_v[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[4]" SITE "E1";
IOBUF PORT "byte_v[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[5]" SITE "E10";
IOBUF PORT "byte_v[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[6]" SITE "E11";
IOBUF PORT "byte_v[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "byte_v[7]" SITE "E12";
IOBUF PORT "byte_v[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "nib_dn[0]" SITE "E13";
IOBUF PORT "nib_dn[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "nib_dn[1]" SITE "E14";
IOBUF PORT "nib_dn[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "nib_dn[2]" SITE "E15";
IOBUF PORT "nib_dn[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "nib_dn[3]" SITE "E16";
IOBUF PORT "nib_dn[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[0]" SITE "E2";
IOBUF PORT "lo6[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[1]" SITE "E3";
IOBUF PORT "lo6[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[2]" SITE "E4";
IOBUF PORT "lo6[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[3]" SITE "E5";
IOBUF PORT "lo6[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[4]" SITE "E6";
IOBUF PORT "lo6[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "lo6[5]" SITE "E7";
IOBUF PORT "lo6[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[0]" SITE "E8";
IOBUF PORT "r[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[1]" SITE "E9";
IOBUF PORT "r[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[2]" SITE "F1";
IOBUF PORT "r[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[3]" SITE "F12";
IOBUF PORT "r[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[4]" SITE "F13";
IOBUF PORT "r[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[5]" SITE "F14";
IOBUF PORT "r[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[6]" SITE "F15";
IOBUF PORT "r[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[7]" SITE "F16";
IOBUF PORT "r[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[8]" SITE "F2";
IOBUF PORT "r[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[9]" SITE "F3";
IOBUF PORT "r[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[10]" SITE "F4";
IOBUF PORT "r[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[11]" SITE "F5";
IOBUF PORT "r[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[12]" SITE "G1";
IOBUF PORT "r[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[13]" SITE "G12";
IOBUF PORT "r[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[14]" SITE "G13";
IOBUF PORT "r[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[15]" SITE "G14";
IOBUF PORT "r[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[16]" SITE "G15";
IOBUF PORT "r[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[17]" SITE "G16";
IOBUF PORT "r[17]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[18]" SITE "G2";
IOBUF PORT "r[18]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[19]" SITE "G3";
IOBUF PORT "r[19]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[20]" SITE "G4";
IOBUF PORT "r[20]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[21]" SITE "G5";
IOBUF PORT "r[21]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[22]" SITE "H12";
IOBUF PORT "r[22]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[23]" SITE "H13";
IOBUF PORT "r[23]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[24]" SITE "H14";
IOBUF PORT "r[24]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[25]" SITE "H15";
IOBUF PORT "r[25]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[26]" SITE "H2";
IOBUF PORT "r[26]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[27]" SITE "H3";
IOBUF PORT "r[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[28]" SITE "H4";
IOBUF PORT "r[28]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[29]" SITE "H5";
IOBUF PORT "r[29]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[30]" SITE "J1";
IOBUF PORT "r[30]" IO_TYPE=LVCMOS33;
LOCATE COMP "r[31]" SITE "J12";
IOBUF PORT "r[31]" IO_TYPE=LVCMOS33;
