LOCATE COMP "clk" SITE "B1";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "B2";
IOBUF PORT "rst" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "en" SITE "C1";
IOBUF PORT "en" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=OFF;
LOCATE COMP "q[0]" SITE "A10";
IOBUF PORT "q[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "q[1]" SITE "A11";
IOBUF PORT "q[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "q[2]" SITE "A12";
IOBUF PORT "q[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "q[3]" SITE "A13";
IOBUF PORT "q[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "y" SITE "B15";
IOBUF PORT "y" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16;
LOCATE COMP "od" SITE "B16";
IOBUF PORT "od" IO_TYPE=LVCMOS33 OPENDRAIN=ON;
LOCATE COMP "a" SITE "C14";
IOBUF PORT "a" IO_TYPE=LVCMOS33;
LOCATE COMP "b" SITE "M9";
IOBUF PORT "b" IO_TYPE=LVCMOS33;
