LOCATE COMP "a[0]" SITE "A10";
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[1]" SITE "A11";
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[2]" SITE "A12";
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[3]" SITE "A13";
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[4]" SITE "A14";
IOBUF PORT "a[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[5]" SITE "A15";
IOBUF PORT "a[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[6]" SITE "A2";
IOBUF PORT "a[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "a[7]" SITE "A3";
IOBUF PORT "a[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[0]" SITE "A4";
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[1]" SITE "A5";
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[2]" SITE "A6";
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[3]" SITE "A7";
IOBUF PORT "b[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[4]" SITE "A8";
IOBUF PORT "b[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[5]" SITE "A9";
IOBUF PORT "b[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[6]" SITE "B1";
IOBUF PORT "b[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "b[7]" SITE "B10";
IOBUF PORT "b[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[0]" SITE "B11";
IOBUF PORT "u[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[1]" SITE "B12";
IOBUF PORT "u[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[2]" SITE "B13";
IOBUF PORT "u[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[3]" SITE "B14";
IOBUF PORT "u[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[4]" SITE "B15";
IOBUF PORT "u[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[5]" SITE "B16";
IOBUF PORT "u[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[6]" SITE "B2";
IOBUF PORT "u[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "u[7]" SITE "B3";
IOBUF PORT "u[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "k[0]" SITE "B4";
IOBUF PORT "k[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "k[1]" SITE "B5";
IOBUF PORT "k[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "k[2]" SITE "B6";
IOBUF PORT "k[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "k[3]" SITE "B7";
IOBUF PORT "k[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[0]" SITE "B8";
IOBUF PORT "sum[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[1]" SITE "B9";
IOBUF PORT "sum[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[2]" SITE "C1";
IOBUF PORT "sum[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[3]" SITE "C10";
IOBUF PORT "sum[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[4]" SITE "C11";
IOBUF PORT "sum[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[5]" SITE "C12";
IOBUF PORT "sum[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[6]" SITE "C13";
IOBUF PORT "sum[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[7]" SITE "C14";
IOBUF PORT "sum[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[8]" SITE "C15";
IOBUF PORT "sum[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[9]" SITE "C16";
IOBUF PORT "sum[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[10]" SITE "C2";
IOBUF PORT "sum[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sum[11]" SITE "C3";
IOBUF PORT "sum[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "lt" SITE "C4";
IOBUF PORT "lt" IO_TYPE=LVCMOS33;
LOCATE COMP "ltu" SITE "C5";
IOBUF PORT "ltu" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[0]" SITE "C6";
IOBUF PORT "sra[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[1]" SITE "C7";
IOBUF PORT "sra[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[2]" SITE "C8";
IOBUF PORT "sra[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[3]" SITE "C9";
IOBUF PORT "sra[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[4]" SITE "D1";
IOBUF PORT "sra[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[5]" SITE "D10";
IOBUF PORT "sra[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[6]" SITE "D11";
IOBUF PORT "sra[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sra[7]" SITE "D12";
IOBUF PORT "sra[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[0]" SITE "D13";
IOBUF PORT "srl[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[1]" SITE "D14";
IOBUF PORT "srl[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[2]" SITE "D16";
IOBUF PORT "srl[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[3]" SITE "D3";
IOBUF PORT "srl[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[4]" SITE "D4";
IOBUF PORT "srl[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[5]" SITE "D5";
IOBUF PORT "srl[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[6]" SITE "D6";
IOBUF PORT "srl[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "srl[7]" SITE "D7";
IOBUF PORT "srl[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[0]" SITE "D8";
IOBUF PORT "prod[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[1]" SITE "D9";
IOBUF PORT "prod[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[2]" SITE "E1";
IOBUF PORT "prod[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[3]" SITE "E10";
IOBUF PORT "prod[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[4]" SITE "E11";
IOBUF PORT "prod[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[5]" SITE "E12";
IOBUF PORT "prod[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[6]" SITE "E13";
IOBUF PORT "prod[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[7]" SITE "E14";
IOBUF PORT "prod[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[8]" SITE "E15";
IOBUF PORT "prod[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[9]" SITE "E16";
IOBUF PORT "prod[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[10]" SITE "E2";
IOBUF PORT "prod[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[11]" SITE "E3";
IOBUF PORT "prod[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[12]" SITE "E4";
IOBUF PORT "prod[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[13]" SITE "E5";
IOBUF PORT "prod[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[14]" SITE "E6";
IOBUF PORT "prod[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "prod[15]" SITE "E7";
IOBUF PORT "prod[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[0]" SITE "E8";
IOBUF PORT "uprod[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[1]" SITE "E9";
IOBUF PORT "uprod[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[2]" SITE "F1";
IOBUF PORT "uprod[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[3]" SITE "F12";
IOBUF PORT "uprod[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[4]" SITE "F13";
IOBUF PORT "uprod[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[5]" SITE "F14";
IOBUF PORT "uprod[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[6]" SITE "F15";
IOBUF PORT "uprod[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[7]" SITE "F16";
IOBUF PORT "uprod[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[8]" SITE "F2";
IOBUF PORT "uprod[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[9]" SITE "F3";
IOBUF PORT "uprod[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[10]" SITE "F4";
IOBUF PORT "uprod[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "uprod[11]" SITE "F5";
IOBUF PORT "uprod[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[0]" SITE "G1";
IOBUF PORT "mc[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[1]" SITE "G12";
IOBUF PORT "mc[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[2]" SITE "G13";
IOBUF PORT "mc[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[3]" SITE "G14";
IOBUF PORT "mc[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[4]" SITE "G15";
IOBUF PORT "mc[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[5]" SITE "G16";
IOBUF PORT "mc[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[6]" SITE "G2";
IOBUF PORT "mc[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[7]" SITE "G3";
IOBUF PORT "mc[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[8]" SITE "G4";
IOBUF PORT "mc[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "mc[9]" SITE "G5";
IOBUF PORT "mc[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[0]" SITE "H12";
IOBUF PORT "mix[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[1]" SITE "H13";
IOBUF PORT "mix[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[2]" SITE "H14";
IOBUF PORT "mix[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[3]" SITE "H15";
IOBUF PORT "mix[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[4]" SITE "H2";
IOBUF PORT "mix[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[5]" SITE "H3";
IOBUF PORT "mix[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[6]" SITE "H4";
IOBUF PORT "mix[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[7]" SITE "H5";
IOBUF PORT "mix[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[8]" SITE "J1";
IOBUF PORT "mix[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "mix[9]" SITE "J12";
IOBUF PORT "mix[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "ge_c" SITE "J13";
IOBUF PORT "ge_c" IO_TYPE=LVCMOS33;
